@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

input:-webkit-autofill{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0417a8;
    transition: background-color 5000s ease-in-out 0s;}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #57bfe2;
    overflow-x: hidden;
}

ul{
    list-style: none;
}

.selectedOption {
    top: -5px;
}

h1{
    font-family: 'Dancing Script', sans-serif;
    font-size: 2.8rem;
}

/* ###################### Background ###################### */

.circle-container{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.circle {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: moveUp 3s ease-in-out;
}

@keyframes moveUp {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

/* ###################### Nav ###################### */

.navbar{
    position: sticky;
    z-index: 1;
    top: 0;
    background: #57bfe2;
    /* background: transparent; */
    border-bottom: #0417a8 solid 3px;
    padding: 5px 30px;
}

.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item{
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
    position: relative;
    transition: color .2s ease-in-out;
}

.nav-item:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: #0417a8;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.nav-item:hover{
    color: #0417a8;
}

.nav-item:hover:after{
    transform: scaleX(1);
    transform-origin: center;
}

.inner-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* ###################### Base ###################### */

.title-main{
    margin: 20px 80px;
    font-size: 3.5rem;
    font-weight: 700;
}

.main{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
}

.image-container{
    width:50vw;
    height: 75vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 4%;
}

#img-slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.description-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    flex: 1;
    backdrop-filter: blur(5px);
    border: 2px solid #0417a8;
    border-radius: 4%;
    padding: 10px;
}

.description-container p{
    font-weight: 600;
}

.description-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.login-link{
    width: 40%;
    padding: 15px 5px;
    background: #0417a8;
    border: 2px transparent solid;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 1em;
    font-weight: 500;
    margin-top: 20px;
    transition: .3s;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.login-link:hover{
    background: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid #0417a8;
    color: #0417a8;
    font-weight: bold;
    font-size: 1.2rem;
}

/* ###################### LOGIN ###################### */

.form-login{
    display: grid;
    place-content: center;
    padding: 10%;
    margin: auto;
}

.login-title{
    color: #0417a8;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.form-group{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #0417a8;
    margin: 15px 0;
}

.form-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #0417a8;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.form-group input:focus~label,
.form-group input:valid~label{
    top: -5px;
}

.form-group input{
    width: 250px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #0417a8;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.btn{
    width: 100%;
    height: 45px;
    background: #0417a8;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 1em;
    font-weight: 500;
    margin-top: 20px;
    transition: .3s;
}

.btn:hover{
    background: #57bfe2;
    border: 2px solid #0417a8;
    color: #0417a8;
    font-weight: bold;
    font-size: 1.2rem;
}

/* ###################### CALCULATOR ###################### */
.bill_form{
    display: grid;
    place-content: center;
    padding: 20px;
    margin: auto;
    border: #0417a8 5px solid;
    width: 40%;
    backdrop-filter: blur(5px);
    margin-top: 40px;
}

.input-group-text{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    color: #0417a8;
    font-weight: 600;
}

.results{
    margin: 40px;
    width: fit-content;
}

.results-container{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    backdrop-filter: blur(5px);
    padding: 20px;
    font-size: 1.2rem;
    border: 2px solid transparent;
    transition: .3s ease-in-out;
}

.results-container .delete-button{
    opacity: 0;
    transition: .3s ease-in-out;
}

.results-container:hover{
    border: 2px solid #0417a8;
}

.results-container:hover .delete-button{
    opacity: 1;
}

.delete-button{
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #0417a8;
    font-weight: 600;
    background: none;
    border: none;
}

.delete-button:hover{
    font-size: 1.7rem;
}

.container-row{
   display: flex;
   justify-content: space-between;
   gap: 20px;
   border-bottom: 1.5px solid #0417a8;
}

.price-value{
    font-weight: 700;
}

.table-number{
    margin-bottom: 5px;
    font-size: 1.3rem;
    color: #0417a8;
}

.results-list{
    padding-left: 20px;
    display: flex;
    gap: 50px;
}

.results-item{
    list-style: none;
    font-style: italic;
    letter-spacing: .5px;
    font-weight: 700;
}

/* ###################### Orders ###################### */

.order-form{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form-group-select{
    position: relative;
    width: 11%;
    border-bottom: 2px solid #0417a8;
    margin: 15px 0;
}

.table_number-container {
    position: relative;
}

.label-title {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #0417a8;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    cursor: pointer;
}

.table_options {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #0417a8;
    font-weight: 600;
    padding: 10px 35px 0 5px;
    position: relative;
    z-index: 1;
}

.table_options:focus + .label-title,
.table_options:valid + .label-title {
    top: -5px;
}

.order_input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.order-input{
    width: 100%;
    white-space: pre-line;
    padding: 5px 10px;
    text-transform: capitalize;
}

/* ###################### CONVERTER ###################### */

.currency-title_from,
.currency-title_to{
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #0417a8;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    cursor: pointer;
}

/* ###################### FOOTER ###################### */

.footer{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border-top: #0417a8 solid 3px;
    padding: 10px 70px ;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.info{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.info_title{
    color: #0417a8;
    text-transform: capitalize;
    font-weight: 600;
    cursor: default;
}

li{
    text-transform: capitalize;
}

li:hover{
    color: #0417a8;
    cursor: pointer;
}

.copy_rights{
    text-align: end;
    margin-top: 30px;
    font-size: var(--smaller-font-size);
}