<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
   <div class="circle-container"></div>
   <nav class="navbar">
    <!-- <button 
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#nav"
    aria-expanded="false"
    aria-controls="nav"
    aria-label="Expand">
    <span class="navbar-toggler-icon"></span>
    </button> -->
        <div class="navbar-nav">
            {% if 'email' in session %}
                <h1>
                    {{ session['name'] }}
                </h1>
                <div class="inner-nav">
                     <a href="/home" class="nav-item" id="home">
                        Home
                    </a>
        
                    <a href="/calculator" class="nav-item" id="bill">
                        Bill
                    </a>
        
                    <a href="/notes" class="nav-item" id="notes">
                        Notes
                    </a>
        
                    <a href="/converter" class="nav-item" id="converter">
                        Converter
                    </a>
        
                    <a href="/logout" class="nav-item" id="logout">
                        Logout
                    </a>
                </div>
    
                {% else %}
    
                    <h1>
                        Welcome
                    </h1>
    
                    <a href="{{ url_for('login') }}" class="nav-item" id="login">
                        Login
                    </a>
    
                {% endif %}
            </div>
        </nav>
    
        <div class="container">
            {% block content %}
            {% endblock %}
        </div> 
        
    <footer class="footer">
        <div class="footer_container">

            <h1 class="title-main">
                Be the best
            </h1>

            <div class="info">
                <ul class="info_content">
    
                    <li class="info_item">
                        about us
                    </li>
    
                    <li class="info_item">
                        careers
                    </li>
    
                    <li class="info_item">
                        contact us
                    </li>
    
                    <li class="info_item">
                        feedback
                    </li>

                </ul>
    
                <ul class="info_content">
                    <li class="info_title">
                        legal
                    </li>
    
                    <li class="info_item">
                        terms
                    </li>
    
                    <li class="info_item">
                        conditions
                    </li>
    
                    <li class="info_item">
                        cookies
                    </li>
    
                    <li class="info_item">
                        copyright
                    </li>
                </ul>
    
                <ul class="info_content">
                    <li class="info_title">
                        follow
                    </li>
    
                    <li class="info_item">
                        facebook
                    </li>
    
                    <li class="info_item">
                        instagram
                    </li>
    
                    <li class="info_item">
                        twitter
                    </li>
    
                    <li class="info_item">
                        YouTube
                    </li>
                </ul>
                </div>
            </div>
    
            <div>

                <p class="copy_rights">
                    &copy; Martin Stavrakov
                </p>

            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{{ url_for('static', filename='JavaScript/index.js') }}"></script>
    
</body>
</html>