{% extends "base.html" %} {% block title %}Converter{% endblock title %}

{% block content %}
<h2 class="converter-title">Welcome to Converter</h2>
    <form action="/converter" method="POST" class="converter-form">
        <div class="converter-container">

            <div class="amount-container form-group">
                <input 
                type="text"
                class="form-control"
                id="amount"
                name="amount"
                value="{{ request.form['amount'] }}"
                required/>
    
                <label for="amount">
                    Amount
                </label>
            </div>
    
            <div>
                <div class="currency-container">
                    <div class="from_and_to">
                        <label for="from_currency" class="currency-title_from">
                            From
                        </label>
                        <select name="from_currency" id="from_currency" class="table_options form-control">
                            <option></option>
                            <option value="GBP" class="flags" {% if request.form['from_currency'] == 'GBP' %}selected{% endif %}>🇬🇧&emsp;GBP</option>
                            <option value="EUR" class="flags" {% if request.form['from_currency'] == 'EUR' %}selected{% endif %}>🇪🇺&emsp;EUR</option>
                            <option value="USD" class="flags" {% if request.form['from_currency'] == 'USD' %}selected{% endif %}>🇺🇸&emsp;USD</option>
                        </select>
                    </div>

                    <div class="from_and_to">
                        <label for="to_currency" class="currency-title_to">
                            To
                        </label>
                        <select name="to_currency" id="to_currency" class="table_options form-control">
                            <option></option>
                            <option value="GBP" class="flags" {% if request.form['to_currency'] == 'GBP' %}selected{% endif %}>🇬🇧&emsp;GBP</option>
                            <option value="EUR" class="flags" {% if request.form['to_currency'] == 'EUR' %}selected{% endif %}>🇪🇺&emsp;EUR</option>
                            <option value="USD" class="flags" {% if request.form['to_currency'] == 'USD' %}selected{% endif %}>🇺🇸&emsp;USD</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn-convert">Convert</button>

    </form>
    


    <div class="amount-converted" id="converted_amount">
        <h1 class="amount-title">Amount</h1>
        {% if converted_amount != None %}
            <div class="converted-container">
                <div class="converter-result"><p>Converted Amount: <span>{{ converted_amount }}</span></p></div>
                <form action="/reset_converter">
                            <button type="submit" class="reset-btn">Reset</button>
                    </form>
            </div>
        {% endif %}
    </div>
{% endblock content %}